<div class="container-lg">
  <form [formGroup]="formCart" (ngSubmit)="shop()">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>account_circle</mat-icon>
            Dados pessoais
          </mat-panel-title>
          <mat-panel-description>
            Informações pessoais do comprador
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-sm-5">
            <mat-form-field disabled>
              <mat-label>Nome completo</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>

          <div class="col-sm-5">
            <mat-form-field>
              <mat-label>CPF ou CNPJ</mat-label>
              <input matInput formControlName="cpfCnpj" />
            </mat-form-field>
          </div>

          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Data de nascimento</mat-label>
              <input matInput formControlName="birthday" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field>
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="phone" />
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button type="button" mat-button color="primary" (click)="nextStep()">
            Próximo
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>shop</mat-icon>Itens no carrinho
          </mat-panel-title>
          <mat-panel-description>
            Itens selecionados para compra
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row my-2" *ngFor="let product of cartService.shop.products">
          <card-form-shop
            [title]="product.product.title"
            [description]="product.product.description"
            [price]="product.product.price"
            [quantity]="product.quantity"
          ></card-form-shop>
        </div>

        <mat-action-row>
          <button type="button" mat-button color="warn" (click)="prevStep()">
            Voltar
          </button>
          <button type="button" mat-button color="primary" (click)="nextStep()">
            Próximo
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>payment</mat-icon>
            Pagamento
          </mat-panel-title>
          <mat-panel-description>
            Informe o método de pagamento
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-action-row>
          <button type="button" mat-button color="warn" (click)="prevStep()">
            Voltar
          </button>
          <button type="button" mat-button color="primary" (click)="nextStep()">
            Próximo
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 3"
        (opened)="setStep(3)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>map</mat-icon>
            Endereço de entrega
          </mat-panel-title>
          <mat-panel-description>
            Endereço que iremos enviar o pedido
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-sm-3">
            <mat-form-field>
              <mat-label>CEP</mat-label>
              <input matInput formControlName="cep" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Estado</mat-label>
              <mat-select [formControl]="state">
                <mat-option *ngFor="let estado of estados" [value]="estado">
                  {{ estado.nome }} - {{ estado.sigla }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Cidade</mat-label>
              <input matInput formControlName="city" />
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Bairro</mat-label>
              <input matInput formControlName="district" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <mat-form-field>
              <mat-label>Nome da rua</mat-label>
              <input matInput formControlName="street" />
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Número</mat-label>
              <input matInput formControlName="number" />
            </mat-form-field>
          </div>
          <div class="col-sm-5">
            <mat-form-field>
              <mat-label>Complemento</mat-label>
              <input matInput formControlName="complement" />
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button
            type="button"
            type="button"
            mat-button
            color="warn"
            (click)="prevStep()"
          >
            Voltar
          </button>
          <button type="submit" mat-button color="primary" (click)="shop()">
            Confirmar compra
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
