<div class="container-fluid mb-4">
  <div class="row">
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <div *ngIf="larguraDaTela < 600">
          <button mat-icon-button color="white" (click)="openMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>

        <div>
          <span>Papelaria Kroeger</span>
        </div>

        <div *ngIf="larguraDaTela > 600" style="margin-left: auto">
          <button mat-button (click)="teste()">Início</button>

          <button mat-button>Serviços</button>

          <button mat-button>Sobre nós</button>

          <button
            mat-icon-button
            class="icon-circle"
            routerLink="cart"
            *ngIf="authService.currentUser"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>

          <button
            mat-icon-button
            class="icon-circle"
            routerLink="user/login"
            *ngIf="!authService.currentUser"
          >
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
